run = "php bin/server.php"

entrypoint = "bin/server.php"
modules = ["php-8.1"]

[nix]
channel = "stable-22_11"

[deployment]
run = ["php", "bin/server.php"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Start Swoole Server"

[[workflows.workflow]]
name = "Start Swoole Server"
author = 37139049
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "nix-shell --run 'php bin/server.php'"
